.main {
  min-height: 100vh;
}

.navbarStyles {
  background-color: transparent !important;
  position: absolute !important;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbarStyles a {
  color: var(--color-light-green) !important;
}


.homeSliderWrapper {
  height: 100vh;
  /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/imgs/hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}



/* footer */
.footerStyles {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 999;
}

.containerFooter {
  height: 100%;
}

.footerIconWrapper {
  height: 34px !important;
  width: 34px !important;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  border-radius: 100%;
}

.footerIconWrapper a {
  color: var(--color-light-green) !important;
  font-size: 20px;
  line-height: 20px;
}

.footerIconWrapper:hover {
  background-color: var(--color-dark-gray);
}



.heroTitle1 {
  color: var(--color-light-gray);
  font-size: 60px;
  font-weight: 900;
}

.heroTitle2 {
  color: var(--color-light-gray);
  font-size: 60px;
  font-weight: 900;
}

.heroTitle2 span {
  color: var(--color-light-green);
  font-size: 60px;
}

.heroTitle3 {
  font-weight: 900;
  color: var(--color-light-gray);
  font-size: 60px;
}

.heroPara {
  color: var(--color-ash);
  font-size: 16px;
  font-weight: 500;
}

.primaryButton {
  text-decoration: none;
  background-color: transparent;
  border: solid 1px var(--color-light-green);
  color: var(--color-light-green);
  border-radius: 8px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.primaryButton:hover {
  background-color: var(--color-light-green);
  color: var(--color-dark-gray);
}






.backgroundAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.verticalLine {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #333;
}

.dot1 {
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  margin-left: -4px;
  animation: dotAnimation1 4s infinite alternate;
}

.dot2 {
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: #464646;
  border-radius: 50%;
  margin-left: -4px;
  animation: dotAnimation2 5s infinite alternate;
}

.dot3 {
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: #535353;
  border-radius: 50%;
  margin-left: -4px;
  animation: dotAnimation3 6s infinite alternate;
}

@keyframes dotAnimation1 {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 100%;
  }
}

@keyframes dotAnimation2 {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 100%;
  }
}

@keyframes dotAnimation3 {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 100%;
  }
}

.verticalLine:nth-child(1) {
  left: 20%;
}

.verticalLine:nth-child(2) {
  left: 25%;
}

.verticalLine:nth-child(3) {
  left: 30%;
}

.dot1 {
  left: 20%;
}

.dot2 {
  left: 25%;
}

.dot3 {
  left: 30%;
}









.cardWrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}

.cardWrapper img:hover {
  cursor: zoom-in;
  transform: scale(1.05);
}

.sideSpacing {
  padding-left: var(--padding);
  padding-right: var(--padding);
}


.slideWrapper {
  min-height: 50vh;
}
.slideWrapperLight{
  min-height: 50vh;
  background-color: var(--color-ash);
}
.SideAnimation{
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  pointer-events: none !important;
}

.AnimatedTitle {
  margin: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: var(--font-30);
  display: inline-block;
  vertical-align: top;
  width: max-content;
}

.AnimatedTitle::after {
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--color-light-green);
  position: absolute;
  top: -8px;
  left: -15px;
  z-index: -1;
  animation: slide-both-side 4s infinite both;
}

@keyframes slide-both-side {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}


.experienceTime{
  font-size: var(--font-16);
}
.experiencePosition{
  font-size: var(--font-22);
  color: var(--color-light-green);
  font-weight: 600;
}
.experienceLocation{
  font-size: var(--font-18);
  color: var(--color-ash);
  font-weight: 600;
}
.experienceDetails{
  font-size: var(--font-14);
  color: var(--color-ash);
  font-weight: 400;
}
